================================================================================================
|                                     General_Configuration                                    |
================================================================================================
|        Attribute      |   Value   |                      Descriptions                        |
|-----------------------|-----------|----------------------------------------------------------|
|mic_key                |     k     | key to enable voice chat, only 1 key allowed
|voice_modifier         |    400    | decrease pitch&speed of audio as value increase
|texting_key            |    y,u    | key to enable texting, will disable keybinding for texting
================================================================================================
|                                         Combination                                          |
================================================================================================
|Folder/WAV File name              |  KeyBind (Forbidden key: esc, backspace, enter)           |
|----------------------------------|-----------|-----------------------------------------------|
|negative			    		   |     n     |
|random				    		   |     [     |
|defuse				        	   |     v     |
|defuse_panic				       |     c     |
|panic		                       |     r     |
|reporting                   	   |     8     |
|search                            |     7     |
|victory                           |     9     |
================================================