===============================================
|Folder/WAV File name              |  KeyBind  |
|---------------------------------------|-|----|
|negative			    		        |n|
|random				    		        |v|
|test				        	        |\|
|do_not_mess_with_me.wav		        |0|
|theres_too_many_of_them.wav	   	    |9|
===============================================